<nav>
	<ul class="menu menu-horizontal flex h-9 flex-col gap-x-4 overflow-x-auto p-0">
		<ng-template #NAV_ITEM_HOME>
			<!-- Home -->

			<li [routerLink]="[constants.ROUTES.ROOT]">
				<a
					[routerLinkActive]="['menu-active']"
					[routerLinkActiveOptions]="{ exact: true }"
				>
					Home
				</a>
			</li>
		</ng-template>
		@if (currentUser$ | async; as currentUser) {
			<!-- Profile Picture -->

			<form #addProfilePictureForm="ngForm">
				<div class="avatar">
					<div class="mask mask-hexagon-2 w-9">
						<img
							class="bg-slate-300"
							[src]="
								currentUser.profilePicture ? currentUser.profilePicture : 'assets/images/profile-picture-fallback.svg'
							"
							alt="profile_img"
							priority
						/>
						<img
							class="absolute top-0 left-0 cursor-pointer rounded-full bg-pink-500 opacity-0 transition-opacity duration-150 ease-in hover:opacity-75"
							src="assets/images/circle-with-plus-24.svg"
							alt="add_new"
							(click)="profile_picture.click()"
							priority
						/>
						<input
							type="file"
							class="hidden"
							#profile_picture
							(change)="handleUploadProfilePicture($event)"
							[accept]="constants.ALLOWED_MIME_TYPES.IMAGES"
						/>
					</div>
				</div>
			</form>
			<ng-container *ngTemplateOutlet="NAV_ITEM_HOME"> </ng-container>
			<!-- Dashboard -->

			<li [routerLink]="[constants.ROUTES._DASHBOARD]">
				<a [routerLinkActive]="['menu-active']">Dashboard</a>
			</li>
			<!-- Settings -->

			<li [routerLink]="[constants.ROUTES._SETTINGS]">
				<a [routerLinkActive]="['menu-active']">Settings</a>
			</li>
			<!-- Control Panel (only for admin users) -->

			<li
				[routerLink]="[constants.ROUTES._CONTROL_PANEL]"
				*dtsHasPermission="{
					roles: [constants.ACCESS_ROLES.ADMIN, constants.ACCESS_ROLES.SUPER_ADMIN],
					operation: constants.ACCESS_OPERATIONS.OR,
				}"
			>
				<a [routerLinkActive]="['menu-active']">Control Panel</a>
			</li>
			<!-- Sign Out -->

			<li (click)="handleSignOut()">
				<a> Sign Out </a>
			</li>
		} @else {
			<ng-container *ngTemplateOutlet="NAV_ITEM_HOME"></ng-container>

			<!-- Contact -->

			<li [routerLink]="[constants.ROUTES._CONTACT]">
				<a [routerLinkActive]="['menu-active']">Contact</a>
			</li>
			<!-- Sign Up -->

			<li [routerLink]="[constants.ROUTES._SIGNUP]">
				<a [routerLinkActive]="['menu-active']">Sign Up</a>
			</li>
			<!-- Sign In -->

			<li [routerLink]="[constants.ROUTES._SIGNIN]">
				<a [routerLinkActive]="['menu-active']">Sign In</a>
			</li>
		}
	</ul>
</nav>
