<nav class="">
	<ul class="menu menu-horizontal flex justify-center gap-4 p-0">
		<!-- Home -->

		<ng-template #NAV_ITEM_HOME>
			<li [routerLink]="[constants.ROUTES.ROOT]">
				<a
					[routerLinkActive]="['menu-active']"
					[routerLinkActiveOptions]="{ exact: true }"
				>
					Home
				</a>
			</li>
		</ng-template>
		<!-- Snapshots -->

		<ng-template #NAV_SNAPSHOTS>
			<li [routerLink]="[constants.ROUTES.SNAPSHOTS]">
				<a [routerLinkActive]="['menu-active']"> Snapshots </a>
			</li>
		</ng-template>

		@if (currentUser$ | async; as currentUser) {
			<!-- Profile Picture -->
			<li class="pointer-events-none">
				<div class="avatar p-0">
					<div class="w-9 rounded-full">
						<img
							fetchpriority="high"
							alt="profile_img"
							[src]="currentUser.profilePicture ? currentUser.profilePicture : 'assets/images/generic-user.png'"
						/>
					</div>
				</div>
			</li>
			<ng-container *ngTemplateOutlet="NAV_ITEM_HOME"></ng-container>

			<ng-container *ngTemplateOutlet="NAV_SNAPSHOTS"></ng-container>

			<!-- Dashboard -->

			<li [routerLink]="[constants.ROUTES._DASHBOARD]">
				<a [routerLinkActive]="['menu-active']">Dashboard</a>
			</li>
			<!-- Settings -->

			<li [routerLink]="[constants.ROUTES._SETTINGS]">
				<a [routerLinkActive]="['menu-active']">Settings</a>
			</li>
			<!-- Control Panel (only for admin users) -->

			<li
				[routerLink]="[constants.ROUTES._CONTROL_PANEL]"
				*dtsHasPermission="{
					roles: [constants.ACCESS_ROLES.ADMIN, constants.ACCESS_ROLES.SUPER_ADMIN],
					operation: constants.ACCESS_OPERATIONS.OR,
				}"
			>
				<a [routerLinkActive]="['menu-active']">Control Panel</a>
			</li>
			<!-- Sign Out -->

			<li (click)="handleSignOut()">
				<a> Sign Out </a>
			</li>
		} @else {
			<ng-container *ngTemplateOutlet="NAV_ITEM_HOME"></ng-container>

			<ng-container *ngTemplateOutlet="NAV_SNAPSHOTS"></ng-container>

			<!-- Contact -->

			<li [routerLink]="[constants.ROUTES._CONTACT]">
				<a [routerLinkActive]="['menu-active']">Contact</a>
			</li>
			<!-- Sign Up -->

			<li [routerLink]="[constants.ROUTES._SIGNUP]">
				<a [routerLinkActive]="['menu-active']">Sign Up</a>
			</li>
			<!-- Sign In -->

			<li [routerLink]="[constants.ROUTES._SIGNIN]">
				<a [routerLinkActive]="['menu-active']">Sign In</a>
			</li>
		}
	</ul>
</nav>
