<form
	#resetPasswordForm="ngForm"
	autocomplete="off"
	(submit)="handleOnSubmitResetPasswordForm($event, resetPasswordForm)"
	class="mx-auto mt-[30px] flex max-w-[400px] flex-col justify-center gap-4 border"
>
	<!-- Email -->

	<label
		for="email"
		class="input input-bordered flex items-center gap-2"
	>
		Email
		<input
			#email="ngModel"
			[(ngModel)]="resetPasswordFormModel.email"
			autocomplete="off"
			class="grow"
			id="email"
			name="email"
			required
			type="email"
			[pattern]="constants.REGEX.EMAIL"
		/>
	</label>
	<div
		class="text-red-600"
		[hidden]="email.valid || email.pristine"
	>
		Email is not valid
	</div>

	<div class="flex justify-center">
		<re-captcha
			#reCaptcha
			(errored)="handleReCaptchaErrored($event)"
			(resolved)="handleReCaptchaResolved($event)"
			[(ngModel)]="resetPasswordFormModel.reCaptchaResponse"
			[siteKey]="environment.reCaptchaSiteKey"
			errorMode="handled"
			name="reCaptchaResponse"
			required
		>
		</re-captcha>
	</div>
	<a
		class="link link-primary text-right"
		[routerLink]="[constants.ROUTES._SIGNIN]"
		ariaCurrentWhenActive="page"
	>
		Back to Signin
	</a>
	<!-- Reset/Submit Buttons -->

	<div class="flex justify-center gap-4">
		<button
			type="reset"
			class="btn"
		>
			Reset
		</button>
		<button
			type="submit"
			class="btn btn-success"
			[disabled]="!resetPasswordForm.form.valid"
		>
			Submit
		</button>
	</div>
</form>
<div class="mb-20 mt-10 flex justify-center">
	<ul class="steps steps-horizontal">
		<li class="step step-success">&nbsp;&nbsp;Fill Form&nbsp;&nbsp;</li>
		<li class="step">&nbsp;&nbsp;Verify OTP&nbsp;&nbsp;</li>
	</ul>
</div>
