@if (token) {
	<form
		class="mx-auto flex max-w-md flex-col gap-4 border"
		#resetPasswordForm="ngForm"
		autocomplete="off"
		(submit)="handleOnSubmitResetPasswordForm($event, resetPasswordForm)"
	>
		<!-- Password -->

		<label
			class="input input-bordered flex items-center gap-2"
			for="password"
		>
			New Password
			<input
				class="grow"
				id="password"
				name="password"
				type="password"
				#password="ngModel"
				[(ngModel)]="resetPasswordFormModel.password"
				required
				autofocus
			/>
		</label>
		<!-- Confirm Password -->

		<label
			class="input input-bordered flex items-center gap-2"
			for="confirmPassword"
		>
			Confirm New Password
			<input
				class="grow"
				id="confirmPassword"
				name="confirmPassword"
				[type]="isConfirmPasswordVisible ? 'text' : 'password'"
				#email="ngModel"
				[(ngModel)]="resetPasswordFormModel.confirmPassword"
				required
			/>
			<img
				class="cursor-pointer"
				alt="eye-icon"
				[ngSrc]="'assets/images/eye-' + (isConfirmPasswordVisible ? 'unmasked' : 'masked') + '.svg'"
				(click)="isConfirmPasswordVisible = !isConfirmPasswordVisible"
				width="16"
				height="16"
			/>
		</label>
		<!-- reCaptcha -->

		<re-captcha
			class="mx-auto"
			name="reCaptcha"
			#reCaptcha
			(errored)="handleReCaptchaErrored($event)"
			(resolved)="handleReCaptchaResolved($event)"
			[(ngModel)]="resetPasswordFormModel.reCaptcha"
			[siteKey]="environment.reCaptchaSiteKey"
			errorMode="handled"
			required
		>
		</re-captcha>
		<!-- Submit Buttons -->

		<button
			class="btn btn-success mx-auto w-full max-w-sm text-white"
			type="submit"
			[disabled]="!resetPasswordForm.form.valid"
		>
			Reset Password
		</button>
	</form>
} @else {
	<div class="flex flex-col items-center gap-3">
		<span class="text-2xl">Something Went Wrong</span>
		<img
			ngSrc="assets/images/something-went-wrong.svg"
			alt="something-went-wrong"
			width="256"
			height="256"
		/>
		<p class="text-xl">Please try again after some time</p>
		<button
			class="btn btn-neutral"
			type="button"
			[routerLink]="constants.ROUTES._FORGOT_PASSWORD"
		>
			Go Back
		</button>
	</div>
}
