<form
	#resetPassword="ngForm"
	autocomplete="off"
	(submit)="handleOnSubmitResetPasswordForm($event, resetPassword)"
>
	<!--  -->

	<label for="">Email</label>
	<input
		[(ngModel)]="resetPasswordFormDetails.email"
		autocomplete="off"
		class="border"
		id="email"
		name="email"
		required
		type="email"
	/>
	<br />
	<!--  -->

	<button
		type="submit"
		class="bg-stone-300"
	>
		Submit
	</button>
	{{ '  ' }}
	<button
		type="reset"
		class="bg-stone-300"
	>
		Reset
	</button>
</form>
