<div class="min-h-[600px] bg-slate-100 p-3">
	<!-- Account Section -->

	<div class="mb-6 rounded-lg bg-zinc-200 p-4 shadow-xl shadow-slate-500/30">
		<h1 class="text-accent mb-6 text-2xl">Account</h1>
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere saepe quia porro amet quisquam ullam fuga
				eligendi maxime quod laboriosam! Dignissimos, obcaecati animi! Nostrum in sunt quidem? Inventore, similique ut.
			</p>
		</div>
	</div>
	<!-- Email Templates Section -->

	<div class="mb-6 rounded-lg bg-zinc-200 p-4 shadow-xl shadow-slate-500/30">
		<div class="flex justify-between">
			<h1 class="text-accent mb-6 text-2xl">Email Templates</h1>
			<dts-add-email-template></dts-add-email-template>
		</div>
		<dts-list-email-template></dts-list-email-template>
	</div>
	<!-- Credential Section -->

	<div class="rounded-lg bg-zinc-200 p-4 shadow-xl shadow-slate-500/30">
		<div class="flex justify-between">
			<h1 class="text-accent mb-6 text-2xl">Credentials</h1>
			<dts-add-credential></dts-add-credential>
		</div>
		<dts-list-credential></dts-list-credential>
	</div>
</div>
