<div class="">
	<div
		class="tabs tabs-lift tabs-sm"
		role="tablist"
	>
		<!-- Admin Tab -->

		<ng-container
			*dtsHasPermission="{
				roles: [constants.ACCESS_ROLES.ADMIN, constants.ACCESS_ROLES.SUPER_ADMIN],
				operation: constants.ACCESS_OPERATIONS.OR,
			}"
		>
			<input
				class="tab [--tab-bg:lavender]"
				name="tab-admin"
				type="radio"
				role="tab"
				aria-label="Admin"
			/>
			<div
				class="tab-content border-base-300 bg-[lavender] p-6"
				role="tabpanel"
			>
				<dts-admin></dts-admin>
			</div>
		</ng-container>
		<!-- Mail Tab -->

		<input
			class="tab [--tab-bg:lavender]"
			name="tab-admin"
			type="radio"
			role="tab"
			aria-label="Mail"
			checked="checked"
		/>
		<div
			class="tab-content border-base-300 bg-[lavender] p-6"
			role="tabpanel"
		>
			<dts-email></dts-email>
		</div>
		<!-- Colors Tab -->

		<input
			class="tab [--tab-bg:lavender]"
			name="tab-admin"
			type="radio"
			role="tab"
			aria-label="Colors"
		/>
		<div
			class="tab-content border-base-300 bg-[lavender] p-6"
			role="tabpanel"
		>
			<dts-colors></dts-colors>
		</div>
		<!-- Meta Tags Tab -->

		<input
			class="tab [--tab-bg:lavender]"
			name="tab-admin"
			type="radio"
			role="tab"
			aria-label="Meta Tags"
		/>
		<div
			class="tab-content border-base-300 bg-[lavender] p-6"
			role="tabpanel"
		>
			<dts-meta-tags></dts-meta-tags>
		</div>
		<!-- Open Graph Tab -->

		<input
			class="tab [--tab-bg:lavender]"
			name="tab-admin"
			type="radio"
			role="tab"
			aria-label="Open Graph"
		/>
		<div
			class="tab-content border-base-300 bg-[lavender] p-6"
			role="tabpanel"
		>
			<dts-open-graph></dts-open-graph>
		</div>
	</div>
</div>
