<div class="">
	<div
		role="tablist"
		class="tabs tabs-lifted tabs-sm"
	>
		<!-- Admin Tab -->

		<ng-container *appHasRole="[constants.USER_ROLES.ADMIN]">
			<input
				type="radio"
				name="tab-admin"
				role="tab"
				class="tab [--tab-bg:lavender]"
				aria-label="Admin"
			/>
			<div
				role="tabpanel"
				class="tab-content rounded-box border-base-300 bg-[lavender] p-6"
			>
				<dts-admin></dts-admin>
			</div>
		</ng-container>
		<!-- Mail Tab -->

		<input
			type="radio"
			name="tab-admin"
			role="tab"
			class="tab [--tab-bg:lavender]"
			aria-label="Mail"
			checked="checked"
		/>
		<div
			role="tabpanel"
			class="tab-content rounded-box border-base-300 bg-[lavender] p-6"
		>
			<dts-mail></dts-mail>
		</div>
		<!-- Colors Tab -->

		<input
			type="radio"
			name="tab-admin"
			role="tab"
			class="tab [--tab-bg:lavender]"
			aria-label="Colors"
		/>
		<div
			role="tabpanel"
			class="tab-content rounded-box border-base-300 bg-[lavender] p-6"
		>
			<dts-colors></dts-colors>
		</div>
		<!-- Meta Tags Tab -->

		<input
			type="radio"
			name="tab-admin"
			role="tab"
			class="tab [--tab-bg:lavender]"
			aria-label="Meta Tags"
		/>
		<div
			role="tabpanel"
			class="tab-content rounded-box border-base-300 bg-[lavender] p-6"
		>
			<dts-meta-tags></dts-meta-tags>
		</div>
		<!-- Open Graph Tab -->

		<input
			type="radio"
			name="tab-admin"
			role="tab"
			class="tab [--tab-bg:lavender]"
			aria-label="Open Graph"
		/>
		<div
			role="tabpanel"
			class="tab-content rounded-box border-base-300 bg-[lavender] p-6"
		>
			<dts-open-graph></dts-open-graph>
		</div>
	</div>
</div>
