<div class="item flex h-[500px] items-center justify-center">
	<form
		autocomplete="off"
		[formGroup]="mailForm"
		(submit)="handleOnSubmitSendEmailForm()"
	>
		<!-- To Email -->

		<label class="input input-bordered flex items-center gap-2">
			To
			<input
				type="text"
				class="grow"
				formControlName="to"
				placeholder="Enter Email..."
			/>
		</label>
		<!-- Subject -->
		<label class="input input-bordered flex items-center gap-2">
			Subject
			<input
				type="text"
				class="grow"
				name="subject"
				formControlName="subject"
				placeholder="Enter Subject..."
			/>
		</label>
		<!-- Salutation -->

		<label class="input input-bordered flex items-center gap-2">
			Salutation
			<input
				type="text"
				class="grow"
				name="salutation"
				formControlName="salutation"
				placeholder="Select Salutation..."
			/>
		</label>
		<!-- Body -->

		<label class="input input-bordered flex items-center gap-2">
			Body
			<input
				type="text"
				class="grow"
				name="body"
				formControlName="body"
				placeholder="Enter Body..."
			/>
		</label>
		<!-- Closing Line -->
		<label class="input input-bordered flex items-center gap-2">
			Closing Lines
			<input
				type="text"
				class="grow"
				name="closing"
				formControlName="closing"
				placeholder="Enter Closing Lines..."
			/>
		</label>
		<!-- signature -->

		<label class="input input-bordered flex items-center gap-2">
			Signature
			<input
				type="text"
				class="grow"
				name="signature"
				formControlName="signature"
				placeholder="Enter signature..."
			/>
		</label>
		<!-- Preview of the mail about to be sent -->

		<details class="collapse bg-base-200">
			<summary class="collapse-title text-xl font-medium">
				Preview Full Email sending to <b>{{ mailForm.value.to }}</b>
			</summary>
			<div class="collapse-content">
				<p>{{ mailForm.value.subject }}</p>
				<p>{{ mailForm.value.salutation }}</p>
				<p>{{ mailForm.value.body }}</p>
				<p>{{ mailForm.value.closing }}</p>
				<p>{{ mailForm.value.signature }}</p>
			</div>
		</details>
		<!-- Wrapper for Reset & Submit button -->

		<div class="flex gap-4">
			<button
				type="reset"
				class="btn flex-1"
			>
				Reset
			</button>
			<button
				type="submit"
				class="btn btn-success flex-1"
				[disabled]="mailForm.invalid"
			>
				Send Mail
			</button>
		</div>
	</form>
</div>
