<div class="item flex h-[900px] items-start justify-center overflow-scroll">
	<form
		autocomplete="off"
		[formGroup]="mailForm"
		(submit)="handleOnSubmitSendEmailForm()"
		class="mx-auto mt-[30px] flex max-w-[400px] flex-col justify-center gap-4"
	>
		<!-- Date Time Local -->

		<label class="input input-bordered flex items-center gap-2">
			Date Time
			<input
				type="datetime-local"
				class="grow"
				formControlName="dateTimeLocal"
			/>
		</label>
		<!-- To Email -->

		<label class="input input-bordered flex items-center gap-2">
			To
			<input
				type="text"
				class="grow"
				formControlName="to"
				placeholder="Enter Email..."
			/>
		</label>
		<!-- Subject -->

		<label class="input input-bordered flex items-center gap-2">
			Subject
			<input
				type="text"
				class="grow"
				formControlName="subject"
				placeholder="Enter Subject..."
			/>
		</label>
		<!-- Dummy Validation for subject -->

		@if (subject?.invalid && (subject?.dirty || subject?.touched)) {
			<div class="text-red-600">
				@if (subject?.hasError('required')) {
					Subject is required
				}
				@if (subject?.hasError('minlength')) {
					Subject must be at-least 5 Character
				}
				@if (subject?.hasError('maxlength')) {
					Subject Exceeds 20 Characters Limit
				}
			</div>
		}
		<!-- Salutation -->

		<label class="input input-bordered flex items-center gap-2">
			Salutation
			<input
				type="text"
				class="grow"
				formControlName="salutation"
				placeholder="Select Salutation..."
			/>
		</label>
		<!-- Body -->

		<label class="form-control">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Body</span>
			</div>
			<textarea
				placeholder="Enter Body..."
				formControlName="body"
				class="textarea textarea-bordered textarea-lg w-full"
			></textarea>
		</label>
		<!-- Closing Line -->

		<label class="form-control">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Closing Line</span>
			</div>
			<textarea
				formControlName="closing"
				placeholder="Enter Closing Lines..."
				class="textarea textarea-bordered textarea-lg w-full"
			></textarea>
		</label>
		<!-- Signature -->

		<label class="form-control">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Your Signature</span>
			</div>
			<textarea
				formControlName="signature"
				placeholder="Enter signature..."
				class="textarea textarea-bordered textarea-lg w-full"
			></textarea>
		</label>
		<!-- Status/Confirmation Mail -->

		<label class="label cursor-pointer justify-start gap-x-4 p-0">
			<input
				type="checkbox"
				class="checkbox-success checkbox"
				formControlName="confirmationMail"
			/>
			<span class="label-text">Receive Status/Confirmation Mail Back</span>
		</label>
		<!-- Preview of the mail about to be sent -->

		<details class="collapse bg-base-200">
			<summary class="collapse-title text-xl font-medium">
				Preview Full Email sending to <b>{{ mailForm.value.to }}</b>
			</summary>
			<div class="collapse-content border">
				<p>{{ mailForm.value.dateTimeLocal }}</p>
				<p>{{ mailForm.value.subject }}</p>
				<p>{{ mailForm.value.salutation }}</p>
				<p>{{ mailForm.value.body }}</p>
				<p>{{ mailForm.value.closing }}</p>
				<p>{{ mailForm.value.signature }}</p>
			</div>
			<p>{{ mailForm.value | json }}</p>
		</details>
		<!-- Wrapper for Reset & Submit button -->

		<div class="flex gap-4">
			<button
				type="reset"
				class="btn flex-1"
			>
				Reset
			</button>
			<button
				type="submit"
				class="btn btn-success flex-1"
				[disabled]="mailForm.invalid"
			>
				Schedule Mail
			</button>
		</div>
	</form>
</div>
