<form
	#signupForm="ngForm"
	autocomplete="off"
	(submit)="handleOnSubmitSignupForm($event, signupForm)"
	class="mx-auto mt-[30px] flex max-w-[400px] flex-col justify-center gap-4"
>
	<!-- First Name -->

	<label
		for="firstName"
		class="input input-bordered flex items-center gap-2"
	>
		First Name
		<input
			[(ngModel)]="signupFormModel.firstName"
			autocomplete="off"
			class="grow"
			id="firstName"
			name="firstName"
			placeholder="YourFirstName"
			required
			type="text"
		/>
	</label>
	<!-- Last Name -->

	<label
		for="lastName"
		class="input input-bordered flex items-center gap-2"
	>
		Last Name
		<input
			[(ngModel)]="signupFormModel.lastName"
			autocomplete="off"
			class="grow"
			id="lastName"
			name="lastName"
			placeholder="YourLastName"
			required
			type="text"
		/>
	</label>
	<!-- Email -->

	<label class="input input-bordered flex items-center gap-2">
		Email
		<input
			[(ngModel)]="signupFormModel.email"
			autocomplete="off"
			class="grow"
			id="email"
			name="email"
			placeholder="EmailId"
			required
			type="email"
		/>
	</label>
	<!-- Password -->

	<label
		for=""
		class="input input-bordered flex items-center gap-2"
	>
		Password
		<input
			[(ngModel)]="signupFormModel.password"
			autocomplete="off"
			class="grow"
			id="password"
			name="password"
			placeholder="SuperSecretPassword"
			required
			type="password"
		/>
	</label>
	<!-- TODO: Add Confirm password as well -->
	<!-- Mobile Number -->

	<label
		for=""
		class="input input-bordered flex items-center gap-2"
	>
		<div
			class="tooltip"
			data-tip="Why? Phone Number is required, to make account more secure."
		>
			Mobile Number
		</div>

		<input
			[(ngModel)]="signupFormModel.mobileNumber"
			autocomplete="off"
			class="grow"
			id="mobileNumber"
			name="mobileNumber"
			placeholder="MobileNumber"
			required
			type="text"
		/>
	</label>
	<!--  -->
	<label
		for=""
		class="input input-bordered flex items-center gap-2"
	>
		Country
		<input
			[(ngModel)]="signupFormModel.country"
			autocomplete="off"
			class="grow"
			id="country"
			name="country"
			placeholder="Daisy"
			required
			type="text"
		/>
	</label>
	<div class="flex justify-center border">
		<re-captcha
			#reCaptcha
			(errored)="handleReCaptchaErrored($event)"
			(resolved)="handleReCaptchaResolved($event)"
			[(ngModel)]="signupFormModel.reCaptchaResponse"
			[siteKey]="environment.reCaptchaSiteKey"
			errorMode="handled"
			name="reCaptchaResponse"
			required
		>
		</re-captcha>
	</div>
	<!-- Wrapper for Reset & Submit button -->

	<div class="flex gap-4">
		@if (environment.development) {
			<button
				type="reset"
				class="btn flex-1"
			>
				Reset
			</button>
		}
		<button
			type="submit"
			class="btn btn-success mx-auto flex-1"
			[ngClass]="{ 'max-w-[120px]': environment.production }"
			[disabled]="signupForm.invalid"
		>
			Signup
		</button>
	</div>
	<a
		class="link link-primary text-right"
		[routerLink]="[constants.ROUTES.SIGNIN]"
	>
		Already have an account? Signin
	</a>
</form>
<div class="mb-20 mt-10 flex justify-center">
	<ul class="steps steps-horizontal">
		<li class="step step-success">&nbsp;&nbsp;Register&nbsp;&nbsp;</li>
		<li class="step step-success">&nbsp;&nbsp;Verify Email&nbsp;&nbsp;</li>
		<li class="step">&nbsp;&nbsp;Verify Phone&nbsp;&nbsp;</li>
	</ul>
</div>
