<form
	class="mx-auto mt-[30px] flex max-w-[400px] flex-col justify-center gap-4"
	#signupForm="ngForm"
	autocomplete="off"
	(submit)="handleOnSubmitSignupForm($event, signupForm)"
>
	<!-- First Name -->

	<label
		class="input input-bordered flex items-center gap-2"
		for="firstName"
	>
		First Name
		<input
			class="grow"
			id="firstName"
			name="firstName"
			type="text"
			[(ngModel)]="signupFormModel.firstName"
			required
			autofocus
		/>
	</label>

	<!-- Last Name -->

	<label
		class="input input-bordered flex items-center gap-2"
		for="lastName"
	>
		Last Name
		<input
			class="grow"
			id="lastName"
			name="lastName"
			type="text"
			[(ngModel)]="signupFormModel.lastName"
			required
		/>
	</label>
	<!-- Email -->

	<label
		class="input input-bordered flex items-center gap-2"
		for="email"
	>
		Email
		<input
			class="grow"
			id="email"
			name="email"
			type="email"
			[(ngModel)]="signupFormModel.email"
			required
		/>
	</label>
	<!-- Password -->

	<label
		class="input input-bordered flex items-center gap-2"
		for="password"
	>
		Password
		<input
			class="grow"
			id="password"
			name="password"
			type="password"
			[(ngModel)]="signupFormModel.password"
			required
			autocomplete="new-password"
		/>
	</label>
	<!-- Confirm Password -->

	<label
		class="input input-bordered flex items-center gap-2"
		for="confirmPassword"
	>
		Verify Password
		<input
			class="grow"
			id="confirmPassword"
			name="confirmPassword"
			type="password"
			[(ngModel)]="signupFormModel.confirmPassword"
			required
		/>
	</label>

	<!-- Country Code -->

	<select
		class="select select-bordered"
		name="countryCode"
		[(ngModel)]="signupFormModel.countryCode"
		required
	>
		<option
			disabled
			selected
			value
		>
			Select Country Code
		</option>
		@for (country of constants.COUNTRY_METADATA; track country.id) {
			<option [value]="country.isdCode">{{ country.name }} ({{ country.isdCode }})</option>
		}
	</select>
	<!-- country code + mobile no -->

	<!-- Mobile Number -->

	<label
		class="input input-bordered flex items-center gap-2"
		for="mobileNumber"
	>
		Mobile No
		<input
			class="grow"
			id="mobileNumber"
			name="mobileNumber"
			type="text"
			[(ngModel)]="signupFormModel.mobileNumber"
			required
		/>
	</label>
	<!-- <div class="flex gap-2"></div> -->
	<!-- Country  -->

	<select
		class="select select-bordered w-full"
		name="country"
		[(ngModel)]="signupFormModel.country"
		required
	>
		<option
			disabled
			selected
			value
		>
			Select Your Country
		</option>
		@for (country of constants.COUNTRY_METADATA; track country.id) {
			<option [value]="country.code">
				{{ country.name }}
			</option>
		}
	</select>
	<!-- Recaptcha -->

	<div class="flex justify-center">
		<re-captcha
			name="reCaptchaResponse"
			#reCaptcha
			(errored)="handleReCaptchaErrored($event)"
			(resolved)="handleReCaptchaResolved($event)"
			[(ngModel)]="signupFormModel.reCaptchaResponse"
			[siteKey]="environment.reCaptchaSiteKey"
			errorMode="handled"
			required
		>
		</re-captcha>
	</div>
	<!-- Wrapper for Reset & Submit button -->

	<div class="flex gap-4">
		@if (environment.development) {
			<button
				class="btn flex-1"
				type="reset"
			>
				Reset
			</button>
		}
		<button
			class="btn btn-success mx-auto flex-1 text-white"
			type="submit"
			[ngClass]="{ 'max-w-[120px]': environment.production }"
			[disabled]="signupForm.invalid"
		>
			Signup
		</button>
	</div>
	<a
		class="link link-primary text-right"
		[routerLink]="[constants.ROUTES._SIGNIN]"
	>
		Already have an account? Signin
	</a>
</form>
<div class="mb-20 mt-10 flex justify-center">
	<ul class="steps steps-horizontal">
		<li class="step step-success">&nbsp;&nbsp;Register&nbsp;&nbsp;</li>
		<li class="step step-success">&nbsp;&nbsp;Verify Email&nbsp;&nbsp;</li>
		<li class="step">&nbsp;&nbsp;Verify Phone&nbsp;&nbsp;</li>
	</ul>
</div>
