<div class="min-h-50 overflow-x-auto rounded-lg bg-cyan-100">
	@let credentialList = credentialList$ | async;

	@if (credentialList?.length) {
		<table class="table-zebra table">
			<thead>
				<tr>
					<th></th>
					<th>Type</th>
					<th>Display Name</th>
					<th>Email Id</th>
					<th>Host</th>
					<th>Port</th>
					<th>Pass</th>
				</tr>
			</thead>
			<tbody>
				@for (credential of credentialList; track $index) {
					<tr>
						<td>
							<div class="flex items-center gap-x-2">
								<span>{{ $index + 1 }}.</span>
								<button
									class="btn btn-sm w-9 p-0"
									(click)="handleDeleteCredential(credential._id)"
									title="Delete Credential"
								>
									<img
										class="inline-block size-5"
										src="assets/images/delete-24.svg"
										alt="delete"
									/>
								</button>
								<button
									class="btn btn-sm w-9 p-0"
									(click)="handleEditCredential(credential)"
									title="Edit Credential"
								>
									<img
										class="inline-block size-5"
										src="assets/images/edit-pencil-24.svg"
										alt="edit"
									/>
								</button>
							</div>
						</td>
						<td>{{ constants.CREDENTIAL_TYPE_MAPPING[credential.credentialType] }}</td>
						<td>{{ credential.displayName }}</td>
						<td>{{ credential.emailId }}</td>
						<td>{{ credential.host }}</td>
						<td>{{ credential.port }}</td>
						<td>
							@if (settings$ | async; as settings) {
								{{ settings.maskCredential ? constants.MASKED_CHAR_10 : credential.pass }}
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	} @else {
		<div
			role="alert"
			class="alert alert-soft alert-info my-10"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="h-6 w-6 shrink-0 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				></path>
			</svg>
			<span>No Credential Added Yet</span>
		</div>
	}
</div>
<dts-edit-credential #editCredentialComponent></dts-edit-credential>
