<div class="min-h-100 overflow-x-auto">
	<table class="table-zebra table">
		<thead>
			<tr>
				<th></th>
				<th>Type</th>
				<th>Display Name</th>
				<th>Email Id</th>
				<th>Host</th>
				<th>Port</th>
				<th>User</th>
				<th>Pass</th>
			</tr>
		</thead>
		<tbody>
			@for (credential of userState.credentialList; track $index) {
				<tr>
					<td>
						<div class="flex items-center gap-x-2">
							<span>{{ $index + 1 }}.</span>
							<button
								class="btn btn-sm w-9 p-0"
								(click)="handleDeleteCredential(credential._id)"
								title="Delete Credential"
							>
								<img
									class="inline-block size-5"
									src="assets/images/delete-24.svg"
									alt="delete"
								/>
							</button>
							<button
								class="btn btn-sm w-9 p-0"
								(click)="handleEditCredential(credential)"
								title="Edit Credential"
							>
								<img
									class="inline-block size-5"
									src="assets/images/edit-pencil-24.svg"
									alt="edit"
								/>
							</button>
						</div>
					</td>
					<td>{{ constants.CREDENTIAL_TYPE_MAPPING[credential.credentialType] }}</td>
					<td>{{ credential.displayName }}</td>
					<td>{{ credential.emailId }}</td>
					<td>{{ credential.host }}</td>
					<td>{{ credential.port }}</td>
					<td>{{ credential.user }}</td>
					<td>{{ credential.pass }}</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<dts-edit-credential #editCredentialComponent></dts-edit-credential>
