@if (data$ | async; as data) {
	@if (data.forgotPasswordUi?.isEmailSent) {
		<div class="flex flex-col items-center gap-1">
			<img
				class="size-11"
				src="../../../../assets/images/envelope-with-key.svg"
				alt="img"
			/>

			<span class="text-2xl">Reset Your Password</span>
			<div class="mb-10 flex max-w-xs flex-col items-center gap-10 pt-5">
				<span class="text-center text-base">
					Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam
					folder.
				</span>
				<button
					class="btn btn-neutral btn-active"
					type="button"
					[routerLink]="[constants.ROUTES._SIGNIN]"
				>
					Return to sign in
				</button>
			</div>
		</div>
	} @else {
		<div class="box-border flex flex-col items-center gap-3">
			<img
				class="size-10"
				src="../../../../assets/images/reset-password.svg"
				alt="eye-icon"
			/>
			<span class="text-2xl">Reset your password</span>
			<span class="mb-5 max-w-md text-center text-base">
				Enter your user account's verified email address and we well send you a password reset link.
			</span>
			<form
				class="mx-auto flex max-w-md flex-col justify-center gap-4"
				#forgotPasswordForm="ngForm"
				autocomplete="off"
				(submit)="handleOnSubmitForgotPasswordForm($event, forgotPasswordForm)"
			>
				<!-- Email -->

				<label
					class="input input-bordered flex items-center gap-2"
					for="email"
				>
					Email
					<input
						class="grow"
						id="email"
						name="email"
						type="email"
						#email="ngModel"
						[(ngModel)]="forgotPasswordFormModel.email"
						required
						[pattern]="constants.REGEX.EMAIL"
						autofocus
					/>
				</label>
				<div
					class="text-red-600"
					[hidden]="email.valid || email.pristine"
				>
					Email is not valid
				</div>
				<!-- reCaptcha -->

				<re-captcha
					class="mx-auto"
					name="reCaptcha"
					#reCaptcha
					(errored)="handleReCaptchaErrored($event)"
					(resolved)="handleReCaptchaResolved($event)"
					[(ngModel)]="forgotPasswordFormModel.reCaptcha"
					[siteKey]="environment.reCaptchaSiteKey"
					errorMode="handled"
					required
				>
				</re-captcha>
				<a
					class="link link-primary text-right"
					[routerLink]="[constants.ROUTES._SIGNIN]"
				>
					Back to Sign in
				</a>
				<!-- Submit Button -->

				<button
					class="btn btn-success w-full text-white"
					type="submit"
					[disabled]="!forgotPasswordForm.form.valid"
				>
					Send password reset email
				</button>
			</form>
		</div>
	}
}
