<div class="item flex items-start justify-center">
	<form
		class="mx-auto mt-[30px] flex max-w-[800px] flex-col justify-center gap-4"
		autocomplete="off"
		[formGroup]="emailForm"
		(submit)="handleOnSubmitSendEmailForm()"
	>
		<!-- Email Template -->

		<select
			class="select w-full"
			formControlName="emailTemplateId"
		>
			<option
				selected
				disabled
				value=""
			>
				Select Email Template
			</option>
			@for (emailTemplate of emailTemplateList; track $index) {
				<option [value]="emailTemplate._id">{{ emailTemplate.templateName }}</option>
			}
		</select>
		<!-- Email Credential -->

		<select
			class="select w-full"
			formControlName="from"
			(ngModelChange)="handleOnFromEmailChange($event)"
		>
			<option
				selected
				disabled
				value=""
			>
				Select email Account
			</option>
			@for (credential of credentialList; track $index) {
				<option [value]="credential.emailId">{{ credential.emailId }} ({{ credential.displayName }})</option>
			}
		</select>
		<!-- View Credentials -->

		<div class="collapse">
			<input
				type="checkbox"
				class="peer"
			/>
			<div
				class="collapse-title text-primary-content peer-checked:text-secondary-content bg-slate-400 peer-checked:bg-slate-600"
			>
				View Credentials...
			</div>
			<div
				class="collapse-content text-primary-content peer-checked:text-secondary-content bg-yellow-100 peer-checked:bg-yellow-600"
			>
				<div class="divider">{{ emailForm.getRawValue().from }}</div>
				<div>
					<div>
						<span>Host:</span>
						<span>{{ currentSmtpCredentials.host }}</span>
					</div>
					<div>
						<span>Port:</span>
						<span>{{ currentSmtpCredentials.port }}</span>
					</div>
					<div>
						<span>Email ID:</span>
						<span>{{ currentSmtpCredentials.emailId }}</span>
					</div>
					<div>
						<span>Pass:</span>
						<span>{{ currentSmtpCredentials.pass }}</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Send Now -->

		<label class="label cursor-pointer justify-start gap-x-4 p-0">
			<input
				class="checkbox-neutral checkbox checkbox-xs"
				type="checkbox"
				formControlName="sendNow"
			/>
			<span class="label-text">Send Now Email</span>
		</label>
		<!-- Date Time Local -->

		<label class="input input-bordered flex w-full items-center gap-2">
			Date Time
			<input
				class="grow"
				type="datetime-local"
				formControlName="dateTimeLocal"
				autofocus
				[min]="minDateTimeLocal"
			/>
		</label>
		@if (dateTimeLocal?.invalid && (dateTimeLocal?.dirty || dateTimeLocal?.touched)) {
			<div class="text-red-600">
				@if (dateTimeLocal?.hasError('required')) {
					dateTimeLocal is required
				}
				@if (dateTimeLocal?.hasError('min')) {
					{{ dateTimeLocal?.errors?.min }}
				}
			</div>
		}
		<!-- To Email -->

		<label class="input input-bordered flex w-full items-center gap-2">
			To
			<input
				class="grow"
				type="text"
				formControlName="to"
				placeholder="Enter Email..."
			/>
		</label>
		<!-- Subject -->

		<label class="input input-bordered flex w-full items-center gap-2">
			Subject
			<input
				class="grow"
				type="text"
				formControlName="subject"
				placeholder="Enter Subject..."
				list="subject_emailForm"
			/>
			<datalist id="subject_emailForm">
				@for (subject of dataListData.SUBJECT; track $index) {
					<option [value]="subject">{{ subject }}</option>
				}
			</datalist>
		</label>
		<!-- Dummy Validation for subject -->

		@if (subject?.invalid && (subject?.dirty || subject?.touched)) {
			<div class="text-red-600">
				@if (subject?.hasError('required')) {
					Subject is required
				}
				@if (subject?.hasError('minlength')) {
					Subject must be at-least 5 Character
				}
				@if (subject?.hasError('maxlength')) {
					Subject Exceeds 20 Characters Limit
				}
			</div>
		}
		<!-- Salutation -->

		<label class="input input-bordered flex w-full items-center gap-2">
			Salutation
			<input
				class="grow"
				type="text"
				formControlName="salutation"
				placeholder="Select Salutation..."
				list="salutation_emailForm"
			/>
			<datalist id="salutation_emailForm">
				@for (salutation of dataListData.SALUTATION; track $index) {
					<option [value]="salutation">{{ salutation }}</option>
				}
			</datalist>
		</label>
		<!-- Body -->

		<label class="form-control">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Body</span>
			</div>
			<textarea
				class="textarea min-h-50 w-full"
				placeholder="Enter Body..."
				formControlName="body"
			></textarea>
		</label>
		<!-- Closing Line -->

		<label class="form-control">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Closing Line</span>
			</div>
			<textarea
				class="textarea min-h-24 w-full"
				formControlName="closing"
				placeholder="Enter Closing Lines..."
			></textarea>
		</label>
		<!-- Signature -->

		<label class="form-control">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Your Signature</span>
			</div>
			<textarea
				class="textarea w-full"
				formControlName="signature"
				placeholder="Enter signature..."
			></textarea>
		</label>
		<!-- Attachments -->

		<details class="dropdown">
			<summary class="btn m-1 w-full">Select Attachments</summary>
			<div
				class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 w-full p-2 shadow-sm"
				formArrayName="attachments"
			>
				@for (attachment of attachmentList; track $index) {
					<label class="label mb-2">
						<input
							type="checkbox"
							class="checkbox checkbox-neutral checkbox-xs"
							[value]="attachment._id"
							(change)="handleAttachmentsOnChange($event)"
						/>
						{{ attachment.fileName }} - ( {{ attachment.attachmentName }} )
					</label>
				}
			</div>
		</details>

		<!-- Status/Confirmation Mail -->

		<label class="label cursor-pointer justify-start gap-x-4 p-0">
			<input
				class="checkbox checkbox-neutral checkbox-xs"
				type="checkbox"
				formControlName="receiveConfirmationEmail"
			/>
			<span class="label-text">Receive Status/Confirmation Mail Back</span>
		</label>
		<!-- Preview of the mail about to be sent -->

		<details class="bg-base-200 collapse">
			<summary class="collapse-title text-xl font-medium">
				<p class="text-sm">
					<span class="label">Preview Full Email sending to </span>
					<b> {{ emailForm.value.to }}</b>
				</p>
				<p class="text-sm">
					<span class="label">Subject:</span> <b>{{ emailForm.value.subject }}</b>
				</p>
			</summary>
			<div class="collapse-content border">
				<p>{{ emailForm.value.dateTimeLocal }}</p>
				<pre>{{ emailForm.value.salutation }}</pre>
				<pre>{{ emailForm.value.body }}</pre>
				<pre>{{ emailForm.value.closing }}</pre>
				<pre>{{ emailForm.value.signature }}</pre>
			</div>
		</details>
		<!-- Wrapper for Reset & Submit button -->

		<div class="flex gap-4">
			<button
				class="btn flex-1"
				type="reset"
			>
				Reset
			</button>
			<button
				class="btn btn-success flex-1 text-white"
				type="submit"
				[disabled]="emailForm.invalid"
			>
				{{ emailForm.value.sendNow ? 'Send Now' : 'Schedule Send' }}
			</button>
		</div>
	</form>
</div>
