<div class="item flex items-start justify-center">
	<form
		class="mx-auto flex w-[800px] flex-col items-start justify-center gap-4"
		autocomplete="off"
		[formGroup]="emailForm"
		(submit)="handleOnSubmitSendEmailForm()"
	>
		<!-- Email Template -->

		<select
			class="select w-full"
			formControlName="emailTemplateId"
		>
			<option
				selected
				disabled
				value=""
			>
				Select Email Template
			</option>
			@for (emailTemplate of emailTemplateList; track $index) {
				<option [value]="emailTemplate._id">{{ emailTemplate.templateName }}</option>
			}
		</select>
		<!-- Email Credential -->

		<select
			class="select w-full"
			formControlName="from"
			(ngModelChange)="handleOnFromEmailChange($event)"
		>
			<option
				selected
				disabled
				value=""
			>
				Select email Account
			</option>
			@for (credential of credentialList; track $index) {
				<option [value]="credential.emailId">{{ credential.emailId }} ({{ credential.displayName }})</option>
			}
		</select>
		<!-- Info Alert -->

		<div
			role="alert"
			class="alert alert-info alert-soft mb-2 w-full gap-2 p-1 text-xs"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="h-6 w-6 shrink-0 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				></path>
			</svg>
			<span class="">
				Use online free <b>Fake SMTP Server</b> providers such as
				<a
					target="_blank"
					class="link link-primary link-hover"
					href="https://ethereal.email/create"
				>
					ethereal
				</a>
				/
				<a
					target="_blank"
					class="link link-primary link-hover"
					href="https://mailtrap.io"
				>
					mailtrap
				</a>
				/
				<a
					target="_blank"
					class="link link-primary link-hover"
					href="https://mailosaur.com/"
				>
					mailosaur
				</a>
				to create Credentials for testing purposes. <b>Add New Credentials first</b> from
				<a
					class="link link-primary link-hover"
					routerLink="/settings"
				>
					settings
				</a>
				to get started!
			</span>
		</div>
		<!-- View Credentials -->

		<div class="collapse">
			<input
				type="checkbox"
				class="peer"
			/>
			<div
				class="collapse-title text-primary-content peer-checked:text-secondary-content bg-slate-400 peer-checked:bg-slate-600"
			>
				View Credentials
			</div>
			<div
				class="collapse-content text-primary-content peer-checked:text-secondary-content bg-yellow-100 peer-checked:bg-yellow-600"
			>
				<div>
					<span>Host: </span>
					<span>{{ currentSmtpCredentials.host }}</span>
				</div>
				<div>
					<span>Port: </span>
					<span>{{ currentSmtpCredentials.port }}</span>
				</div>
				<div>
					<span>Email ID: </span>
					<span>{{ currentSmtpCredentials.emailId }}</span>
				</div>
				<div>
					<span>Pass: </span>
					<span>{{ currentSmtpCredentials.pass }}</span>
				</div>
			</div>
		</div>
		<!-- Send Now -->

		<label class="label cursor-pointer">
			<input
				class="checkbox-neutral checkbox checkbox-xs"
				type="checkbox"
				formControlName="sendNow"
			/>
			<span class="label-text">Send Now Email</span>
		</label>
		<!-- Date Time Local -->

		<label class="input input-bordered flex w-full items-center gap-2">
			Date Time
			<input
				class="grow"
				type="datetime-local"
				formControlName="dateTimeLocal"
				autofocus
				[min]="minDateTimeLocal"
			/>
		</label>
		@if (dateTimeLocal?.invalid && (dateTimeLocal?.dirty || dateTimeLocal?.touched)) {
			<div class="text-red-600">
				@if (dateTimeLocal?.hasError('required')) {
					dateTimeLocal is required
				}
				@if (dateTimeLocal?.hasError('min')) {
					{{ dateTimeLocal?.errors?.min }}
				}
			</div>
		}
		<!-- To Email -->

		<label class="input input-bordered flex w-full items-center gap-2">
			To
			<input
				class="grow"
				type="text"
				formControlName="to"
				placeholder="Enter Email..."
			/>
		</label>
		<!-- Subject -->

		<label class="input input-bordered flex w-full items-center gap-2">
			Subject
			<input
				class="grow"
				type="text"
				formControlName="subject"
				placeholder="Enter Subject..."
				list="subject_emailForm"
			/>
			<datalist id="subject_emailForm">
				@for (subject of dataListData.SUBJECT; track $index) {
					<option [value]="subject">{{ subject }}</option>
				}
			</datalist>
		</label>
		<!-- Dummy Validation for subject -->

		@if (subject?.invalid && (subject?.dirty || subject?.touched)) {
			<div class="text-red-600">
				@if (subject?.hasError('required')) {
					Subject is required
				}
				@if (subject?.hasError('minlength')) {
					Subject must be at-least {{ CONSTRAINTS.SUBJECT.MIN_LENGTH }} Character
				}
				@if (subject?.hasError('maxlength')) {
					Subject Exceeds {{ CONSTRAINTS.SUBJECT.MIN_LENGTH }} Characters Limit
				}
			</div>
		}
		<!-- Salutation -->

		<label class="input input-bordered flex w-full items-center gap-2">
			Salutation
			<input
				class="grow"
				type="text"
				formControlName="salutation"
				placeholder="Select Salutation..."
				list="salutation_emailForm"
			/>
			<datalist id="salutation_emailForm">
				@for (salutation of dataListData.SALUTATION; track $index) {
					<option [value]="salutation">{{ salutation }}</option>
				}
			</datalist>
		</label>
		<!-- Body -->

		<label class="form-control w-full">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Body</span>
			</div>
			<textarea
				class="textarea min-h-50 w-full"
				placeholder="Enter Body..."
				formControlName="body"
			></textarea>
		</label>
		<!-- Closing Line -->

		<label class="form-control w-full">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Closing Line</span>
			</div>
			<textarea
				class="textarea min-h-24 w-full"
				formControlName="closing"
				placeholder="Enter Closing Lines..."
			></textarea>
		</label>
		<!-- Signature -->

		<label class="form-control w-full">
			<div class="label p-0 pb-1 pl-4">
				<span class="label-text">Your Signature</span>
			</div>
			<textarea
				class="textarea w-full"
				formControlName="signature"
				placeholder="Enter signature..."
			></textarea>
		</label>
		<!-- Attachments -->

		<details class="dropdown w-full">
			<summary class="btn my-2 w-full">
				<img
					src="assets/images/paperclip.svg"
					alt="attachment"
					class="size-5"
				/>
				Select Attachments
			</summary>
			<div
				class="menu dropdown-content bg-base-100 rounded-box z-1 min-h-20 w-52 w-full border p-2 shadow-sm"
				formArrayName="attachmentIds"
			>
				@for (attachment of attachmentList; track $index) {
					<label class="label mb-2">
						<input
							type="checkbox"
							class="checkbox checkbox-neutral checkbox-xs"
							[value]="attachment._id"
							(change)="handleAttachmentsOnChange($event)"
						/>
						{{ attachment.fileName }} - ({{ attachment.attachmentName }})
					</label>
				} @empty {
					<p class="label flex flex-1 flex-wrap items-center justify-center text-center whitespace-normal">
						No attachment added yet, to add new attachment goto to account settings.
					</p>
				}
			</div>
		</details>
		<!-- Status/Confirmation Mail -->

		<label class="label cursor-pointer justify-start gap-x-4 p-0">
			<input
				class="checkbox checkbox-neutral checkbox-xs"
				type="checkbox"
				formControlName="receiveConfirmationEmail"
			/>
			<span class="label-text">Receive Updates/Confirmation Email</span>
		</label>
		<!-- Preview of the mail about to be sent -->

		<details class="bg-base-200 collapse">
			<summary class="collapse-title text-xl font-medium">
				<p class="text-sm">
					<span class="label">Preview Full Email sending to </span>
					<b> {{ emailForm.value.to }}</b>
				</p>
				<p class="text-sm">
					<span class="label">Subject:</span> <b>{{ emailForm.value.subject }}</b>
				</p>
			</summary>
			<div class="collapse-content">
				<!-- NOTE(Wasit): Keep the html preview in sync with backend (html content) -->

				<p class="rounded border border-slate-700 bg-slate-400 whitespace-pre-wrap">
					{{ emailForm.value.salutation }}<br />
					{{ emailForm.value.body }}<br />
					{{ emailForm.value.closing }}<br /><br />
					{{ emailForm.value.signature }}
				</p>
			</div>
		</details>
		<!-- Wrapper for Reset & Submit button -->

		<div class="flex w-full gap-4">
			<button
				class="btn flex-1"
				type="reset"
			>
				Reset
			</button>
			<button
				class="btn btn-success flex-1 text-white"
				type="submit"
				[disabled]="emailForm.invalid"
			>
				{{ emailForm.value.sendNow ? 'Send Now' : 'Schedule Send' }}
			</button>
		</div>
	</form>
</div>
