<dialog
	#editCredentialDialog
	class="modal"
>
	<div class="modal-box">
		<h3 class="mb-4 text-lg font-bold">Edit New Credential</h3>

		<form
			#credentialForm="ngForm"
			(ngSubmit)="handleOnSubmitEditCredentialForm()"
			class="mx-auto flex flex-1 flex-col justify-center gap-4"
		>
			<!-- Credential Type  -->

			<select
				name="credentialType"
				class="select w-full"
				required
				[(ngModel)]="editCredentialFormModel.credentialType"
				autofocus
			>
				<option
					disabled
					selected
					value=""
				>
					Select Credential Type
				</option>
				<option [value]="constants.CREDENTIAL_TYPE.SMTP.VALUE">{{ constants.CREDENTIAL_TYPE.SMTP.LABEL }}</option>
				<option
					[value]="constants.CREDENTIAL_TYPE.OAUTH2.VALUE"
					disabled
				>
					{{ constants.CREDENTIAL_TYPE.OAUTH2.LABEL }}
				</option>
			</select>
			<!-- Display Name  -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="displayName_editCredentialForm"
			>
				Display Name
				<input
					class="grow"
					id="displayName_editCredentialForm"
					name="displayName"
					type="text"
					title="Enter your email/username"
					[(ngModel)]="editCredentialFormModel.displayName"
					#email="ngModel"
					required
				/>
			</label>
			<!-- Email  -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="emailId_editCredentialForm"
			>
				Email
				<input
					class="grow"
					id="emailId_editCredentialForm"
					name="emailId"
					type="email"
					title="Enter your email/username"
					[(ngModel)]="editCredentialFormModel.emailId"
					[pattern]="constants.REGEX.EMAIL"
					#email="ngModel"
					required
				/>
			</label>
			<!-- Host -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="host_editCredentialForm"
			>
				Host
				<input
					class="grow"
					id="host_editCredentialForm"
					name="host"
					type="text"
					title="Enter host address"
					[(ngModel)]="editCredentialFormModel.host"
					#host="ngModel"
					required
				/>
			</label>
			<!-- Port -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="port_editCredentialForm"
			>
				Port
				<input
					class="grow"
					id="port_editCredentialForm"
					name="port"
					type="text"
					title="Enter Port No"
					[(ngModel)]="editCredentialFormModel.port"
					#port="ngModel"
					required
					list="regular-smtp-ports_editCredentialForm"
				/>
				<datalist id="regular-smtp-ports_editCredentialForm">
					@for (smtpPort of constants.REGULAR_SMTP_PORTS; track $index) {
						<option [value]="smtpPort">Port {{ smtpPort }}</option>
					}
				</datalist>
			</label>
			<!-- User -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="user_editCredentialForm"
			>
				User
				<input
					class="grow"
					id="user_editCredentialForm"
					name="user"
					type="text"
					title="Enter user"
					[(ngModel)]="editCredentialFormModel.user"
					#user="ngModel"
					required
				/>
			</label>
			<!-- Pass -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="pass_editCredentialForm"
			>
				Pass
				<input
					class="grow"
					id="pass_editCredentialForm"
					name="pass"
					type="text"
					title="Enter pass"
					[(ngModel)]="editCredentialFormModel.pass"
					#pass="ngModel"
					required
				/>
			</label>
			<div class="modal-action">
				<button
					class="btn btn-success flex-1 text-white"
					type="submit"
				>
					<!-- [disabled]="!credentialForm.form.valid" -->
					Submit
				</button>
				<button
					class="btn flex-1"
					type="button"
					(click)="handleOnModalClose()"
				>
					Cancel
				</button>
			</div>
		</form>
	</div>
</dialog>
