<div class="flex gap-3">
	<button
		type="button"
		class="btn btn-warning"
		(click)="handleToggleMaskCredential()"
	>
		@if (settings$ | async; as settings) {
			{{ (settings.maskCredential ? 'Un-Mask' : ' Mask') + ' Pass' }}
		}
	</button>
	<button
		class="btn btn-success"
		(click)="handleOnModalOpen()"
	>
		<img
			src="assets/images/circular-plus-24.svg "
			alt="add-icon"
		/>
		Add New Credential
	</button>
</div>

<dialog
	#addCredentialDialog
	class="modal"
>
	<div class="modal-box">
		<h3 class="mb-4 text-lg font-bold">Add New Credential</h3>

		<div
			role="alert"
			class="alert alert-info alert-soft mb-2 gap-2 p-1 text-xs"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="h-6 w-6 shrink-0 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				></path>
			</svg>
			<span>
				Use online free <b>Fake SMTP Server</b> providers such as
				<a
					target="_blank"
					class="link link-primary link-hover"
					href="https://ethereal.email/create"
				>
					ethereal
				</a>
				/
				<a
					target="_blank"
					class="link link-primary link-hover"
					href="https://mailtrap.io"
				>
					mailtrap
				</a>
				/
				<a
					target="_blank"
					class="link link-primary link-hover"
					href="https://mailosaur.com/"
				>
					mailosaur
				</a>
				to create Credentials for testing purposes
			</span>
		</div>

		<form
			#addCredentialForm="ngForm"
			(ngSubmit)="handleOnSubmitAddCredentialForm()"
			class="mx-auto flex flex-1 flex-col justify-center gap-4"
		>
			<!-- Credential Type  -->

			<select
				name="credentialType"
				class="select w-full"
				required
				[(ngModel)]="addCredentialFormModel.credentialType"
				autofocus
			>
				<option
					disabled
					selected
					value=""
				>
					Select Credential Type
				</option>
				<option [value]="constants.CREDENTIAL_TYPE.SMTP.VALUE">{{ constants.CREDENTIAL_TYPE.SMTP.LABEL }}</option>
				<option
					[value]="constants.CREDENTIAL_TYPE.OAUTH2.VALUE"
					disabled
				>
					{{ constants.CREDENTIAL_TYPE.OAUTH2.LABEL }}
				</option>
			</select>
			<!-- Display Name  -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="displayName_addCredentialForm"
			>
				Display Name
				<input
					class="grow"
					id="displayName_addCredentialForm"
					name="displayName"
					type="text"
					[(ngModel)]="addCredentialFormModel.displayName"
					#email="ngModel"
					required
				/>
			</label>
			<!-- Email  -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="emailId_addCredentialForm"
			>
				Email/User
				<input
					class="grow"
					id="emailId_addCredentialForm"
					name="emailId"
					type="text"
					[(ngModel)]="addCredentialFormModel.emailId"
					#email="ngModel"
					required
				/>
			</label>
			<!-- Host -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="host_addCredentialForm"
			>
				Host
				<input
					class="grow"
					id="host_addCredentialForm"
					name="host"
					type="text"
					[(ngModel)]="addCredentialFormModel.host"
					#host="ngModel"
					required
				/>
			</label>
			<!-- Port -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="port_addCredentialForm"
			>
				Port
				<input
					class="grow"
					id="port_addCredentialForm"
					name="port"
					type="text"
					[(ngModel)]="addCredentialFormModel.port"
					#port="ngModel"
					required
					list="regular-smtp-ports_addCredentialForm"
					[pattern]="constants.REGEX.DIGITS_ONLY"
				/>
				<datalist id="regular-smtp-ports_addCredentialForm">
					@for (smtpPort of constants.REGULAR_SMTP_PORTS; track $index) {
						<option [value]="smtpPort">Port {{ smtpPort }}</option>
					}
				</datalist>
			</label>
			<!-- Pass -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="pass_addCredentialForm"
			>
				Pass
				<input
					class="grow"
					id="pass_addCredentialForm"
					name="pass"
					type="text"
					[(ngModel)]="addCredentialFormModel.pass"
					#pass="ngModel"
					required
				/>
			</label>

			<div class="modal-action">
				<button
					class="btn btn-success flex-1 text-white"
					type="submit"
					[disabled]="!addCredentialForm.form.valid"
				>
					Submit
				</button>
				<button
					class="btn flex-1"
					type="button"
					(click)="handleOnModalClose()"
				>
					Cancel
				</button>
			</div>
		</form>
	</div>
</dialog>
