<button
	class="btn btn-success ml-auto"
	(click)="handleOnModalOpen()"
>
	<img
		src="assets/images/circular-plus-24.svg "
		alt="add-icon"
	/>
	Add New Credential
</button>

<dialog
	#addCredentialDialog
	class="modal"
>
	<div class="modal-box">
		<h3 class="mb-4 text-lg font-bold">Add New Credential</h3>
		<form
			#addCredentialForm="ngForm"
			(ngSubmit)="handleOnSubmitAddCredentialForm()"
			class="mx-auto flex flex-1 flex-col justify-center gap-4"
		>
			<!-- Credential Type  -->

			<select
				name="credentialType"
				class="select w-full"
				required
				[(ngModel)]="addCredentialFormModel.credentialType"
				autofocus
			>
				<option
					disabled
					selected
					value=""
				>
					Select Credential Type
				</option>
				<option [value]="constants.CREDENTIAL_TYPE.SMTP.VALUE">{{ constants.CREDENTIAL_TYPE.SMTP.LABEL }}</option>
				<option
					[value]="constants.CREDENTIAL_TYPE.OAUTH2.VALUE"
					disabled
				>
					{{ constants.CREDENTIAL_TYPE.OAUTH2.LABEL }}
				</option>
			</select>
			<!-- Display Name  -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="displayName_addCredentialForm"
			>
				Display Name
				<input
					class="grow"
					id="displayName_addCredentialForm"
					name="displayName"
					type="text"
					[(ngModel)]="addCredentialFormModel.displayName"
					#email="ngModel"
					required
				/>
			</label>
			<!-- Email  -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="emailId_addCredentialForm"
			>
				Email/User
				<input
					class="grow"
					id="emailId_addCredentialForm"
					name="emailId"
					type="text"
					[(ngModel)]="addCredentialFormModel.emailId"
					#email="ngModel"
					required
				/>
			</label>
			<!-- Host -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="host_addCredentialForm"
			>
				Host
				<input
					class="grow"
					id="host_addCredentialForm"
					name="host"
					type="text"
					[(ngModel)]="addCredentialFormModel.host"
					#host="ngModel"
					required
				/>
			</label>
			<!-- Port -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="port_addCredentialForm"
			>
				Port
				<input
					class="grow"
					id="port_addCredentialForm"
					name="port"
					type="text"
					[(ngModel)]="addCredentialFormModel.port"
					#port="ngModel"
					required
					list="regular-smtp-ports_addCredentialForm"
				/>
				<datalist id="regular-smtp-ports_addCredentialForm">
					@for (smtpPort of constants.REGULAR_SMTP_PORTS; track $index) {
						<option [value]="smtpPort">Port {{ smtpPort }}</option>
					}
				</datalist>
			</label>
			<!-- Pass -->

			<label
				class="input input-bordered flex w-full items-center gap-2"
				for="pass_addCredentialForm"
			>
				Pass
				<input
					class="grow"
					id="pass_addCredentialForm"
					name="pass"
					type="text"
					[(ngModel)]="addCredentialFormModel.pass"
					#pass="ngModel"
					required
				/>
			</label>

			<div class="modal-action">
				<button
					class="btn btn-success flex-1 text-white"
					type="submit"
					[disabled]="!addCredentialForm.form.valid"
				>
					Submit
				</button>
				<button
					class="btn flex-1"
					type="button"
					(click)="handleOnModalClose()"
				>
					Cancel
				</button>
			</div>
		</form>
	</div>
</dialog>
