<div class="min-h-50">
	@for (emailTemplate of emailTemplateList$ | async; track $index) {
		<div class="collapse-plus bg-base-100 border-base-300 collapse mb-2 border">
			<input
				type="checkbox"
				name="list-email-template-accordion"
			/>
			<div class="collapse-title font-semibold">{{ $index + 1 }}. {{ emailTemplate.templateName }}</div>
			<div class="collapse-content text-sm">
				<div class="flex items-center gap-x-2">
					<button
						class="btn btn-sm w-9 p-0"
						(click)="handleDeleteEmailTemplate(emailTemplate._id)"
						title="Delete Email Template"
					>
						<img
							class="inline-block size-5"
							src="assets/images/delete-24.svg"
							alt="delete"
						/>
					</button>
					<button
						class="btn btn-sm w-9 p-0"
						(click)="handleEditEmailTemplate(emailTemplate)"
						title="Edit Email Template"
					>
						<img
							class="inline-block size-5"
							src="assets/images/edit-pencil-24.svg"
							alt="edit"
						/>
					</button>
				</div>
				<!-- Subject -->

				<p class="whitespace-pre-wrap">{{ emailTemplate.subject }}</p>

				<div class="my-3 rounded border border-orange-300 bg-orange-200 p-3 shadow-xl">
					<!-- Salutation -->

					<p class="whitespace-pre-wrap">{{ emailTemplate.salutation }}</p>
					<!-- Body -->

					<p class="whitespace-pre-wrap">
						{{ emailTemplate.body }}
					</p>
					<!-- Closing -->

					<p class="whitespace-pre-wrap">{{ emailTemplate.closing }}</p>
					<!-- Signature -->

					<p class="whitespace-pre-wrap">{{ emailTemplate.signature }}</p>
				</div>
				<!-- TODO(Wasit): Complete the tag feature for email template searching -->
				<!-- Tags -->

				<!--
				<div>
					@for (tag of emailTemplate.tags; track $index) {
						<span class="badge badge-soft badge-primary mx-1">{{ tag }}</span>
					}
				</div>
			  -->
			</div>
		</div>
	} @empty {
		<div
			role="alert"
			class="alert alert-soft alert-info my-10"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="h-6 w-6 shrink-0 stroke-current"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				></path>
			</svg>
			<span>No Email Template Added Yet</span>
		</div>
	}
</div>
<dts-edit-email-template #editEmailTemplateComponent></dts-edit-email-template>
