@if (!environment.production) {
	<div class="border-b-2 border-rose-500 text-center">
		@for (item of mockLinks; track $index) {
			<!-- TODO: prettier not able to format code with @let https://github.com/prettier/prettier/pull/16474-->
			<!-- @let url = item.url; -->
			<!-- @let text = item.text; -->
			<a
				[routerLink]="item.url"
				[routerLinkActive]="['bg-rose-400/40', 'text-rose-600']"
				[routerLinkActiveOptions]="{ exact: true }"
				class="rounded-md px-2 font-medium text-cyan-500 no-underline hover:bg-sky-400 hover:text-stone-600"
			>
				{{ item.text }}
			</a>
		}
	</div>
}
<br />

<main class="mx-auto max-w-screen-lg px-[16px] sm:px-[22px] md:px-[28px]">
	<app-header></app-header>
	<router-outlet />
	<app-footer></app-footer>
</main>

@if (toastService.toastNotificationQueue.length) {
	<div class="toast toast-end toast-top">
		@for (alert of toastService.toastNotificationQueue; track $index) {
			<div
				role="alert"
				class="alert"
				[ngClass]="alert.type"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					class="h-6 w-6 shrink-0"
					[ngClass]="alert.type === constants.ALERT_TYPE.VOID ? 'stroke-info' : 'stroke-current'"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
					></path>
				</svg>
				<span class="max-w-[550px] text-wrap">
					{{ alert.message }}
				</span>
			</div>
		}
	</div>
}
