<nav class="text-center">
	<ul class="menu menu-vertical rounded-box bg-base-200 sm:menu-horizontal">
		<li>
			<a [routerLink]="constants.PATHS.ROOT">{{ constants.PATHS.ROOT }}</a>
		</li>

		<li>
			<a [routerLink]="constants.PATHS.HOME">{{ constants.PATHS.HOME }}</a>
		</li>
		<li>
			<a [routerLink]="constants.PATHS.SIGNUP">{{ constants.PATHS.SIGNUP }}</a>
		</li>
		<li>
			<a [routerLink]="constants.PATHS.SIGNIN">{{ constants.PATHS.SIGNIN }}</a>
		</li>
		<li>
			<a [routerLink]="constants.PATHS.FORGOT_PASSWORD">{{ constants.PATHS.FORGOT_PASSWORD }}</a>
		</li>
		<li>
			<a [routerLink]="constants.PATHS.GUEST">{{ constants.PATHS.GUEST }}</a>
		</li>
		<li>
			<a [routerLink]="constants.PATHS.SETTINGS">{{ constants.PATHS.SETTINGS }}</a>
		</li>
		<li>
			<a [routerLink]="constants.PATHS.ADMIN_HOME">{{ constants.PATHS.ADMIN_HOME }}</a>
		</li>
	</ul>
</nav>
