<div class="bg-slate-100 p-3">
	<h1 class="text-primary mb-5 text-center text-2xl sm:text-4xl">Welcome on Dev Tools Studio!!</h1>
	<!-- Intro -->

	<div class="text-sm">
		<p class="text-lg">
			Now Cold Emailing is just only one click away, no overhead of re-typing the whole email or copy-pasting previously
			used emails. No need to login into your different accounts just to send emails, all of it can now be
			<b>managed from one account only!</b><br />
			Create customizable email templates, attachments, send emails to others real-time or schedule it for later & send
			it from your different accounts by adding your <b>SMTP/OAuth</b> Credentials.
		</p>
	</div>
	<!-- YouTube Video -->

	<iframe
		src="https://www.youtube.com/embed/HiqfIKH9ywE?si=RXqpvxUPFxlp38TE"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen
		class="mx-auto my-5 h-[500px] w-full lg:w-[889px]"
	></iframe>
	<!-- Get Started  -->

	<ul class="list rounded-box mt-5 bg-slate-200 shadow-md">
		<li class="text-primary p-4 pb-2 text-xl tracking-wide sm:text-3xl">Get Started in few steps:</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">01</div>
			<div class="list-col-grow">
				<div class="text-secondary">Sign Up</div>
				<div class="text-xs font-semibold uppercase opacity-60">Signup on Dev Tools Studio</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">02</div>
			<div class="list-col-grow">
				<div class="text-secondary">Add Credentials <b>(SMTP/OAuth)</b></div>
				<div class="text-xs font-semibold uppercase opacity-60">
					Add credentials to start sending emails from your different accounts
				</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">03</div>
			<div class="list-col-grow">
				<div class="text-secondary">Add Email Templates</div>
				<div class="text-xs font-semibold uppercase opacity-60">Add email template as per your day to day usage</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">04</div>
			<div class="list-col-grow">
				<div class="text-secondary">Add Attachments (Optional)</div>
				<div class="text-xs font-semibold uppercase opacity-60">
					Add attachments to save it on cloud (AWS S3 Bucket)!!
				</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">05</div>

			<div class="list-col-grow">
				<div class="text-secondary">Send Email !!</div>
				<div class="text-xs font-semibold uppercase opacity-60">
					Choose email template, email account credentials, attachments and timestamp, That's it !!
				</div>
			</div>
		</li>
	</ul>

	<!-- Galleria -->

	<h1 class="text-primary p-3 text-xl sm:text-3xl">Snapshots:</h1>
	<div class="card flex items-center">
		<p-galleria
			[value]="constants.snapshots"
			[showItemNavigators]="true"
			[responsiveOptions]="responsiveOptions"
			[circular]="true"
			[numVisible]="16"
			[containerStyle]="{ 'max-width': '1000px' }"
			[autoPlay]="true"
			[showItemNavigatorsOnHover]="true"
		>
			<ng-template
				#item
				let-snapshot
			>
				<!-- NOTE(Wasit): Keep containerStyle attribute's max-width property in sync with image width. Image width can't be greater then max width of container p-galleria -->

				@if (snapshot?.itemLink) {
					<a
						[href]="snapshot.itemLink"
						target="_blank"
						[title]="'Visit Link: ' + snapshot.itemLink"
					>
						<img
							alt="project snapshots"
							class="block h-[800px] w-[1000px] bg-slate-100"
							[src]="snapshot.imageSrc"
							fetchpriority="high"
						/>
					</a>
				} @else {
					<img
						alt="project snapshots"
						class="block h-[800px] w-[1000px] bg-slate-100"
						[src]="snapshot.imageSrc"
						fetchpriority="high"
					/>
				}
			</ng-template>
			<ng-template
				#thumbnail
				let-snapshot
			>
				<img
					[src]="snapshot.imageSrc"
					class="border-primary block size-10 rounded-md border border-3"
					alt="thumbnail"
					fetchpriority="high"
				/>
			</ng-template>
		</p-galleria>
	</div>

	<!-- Info alert to visit snapshots screen -->

	<div
		role="alert"
		class="alert bg-primary my-2 flex justify-center gap-1 text-white"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			class="stroke-info h-6 w-6 shrink-0"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
			></path>
		</svg>
		<span class="">
			Visit
			<button
				class="btn btn-xs btn-secondary"
				routerLink="/snapshots"
			>
				Snapshots
			</button>
			to view <b>above images in full resolution</b></span
		>
	</div>
	<!-- Details -->

	<h1 class="text-primary p-3 text-xl sm:text-3xl">For More Info Refer:</h1>

	<div class="flex flex-col gap-y-2 pl-5">
		@for (item of referenceLinks; track $index) {
			<div class="flex flex-col gap-x-3 sm:flex-row">
				<span class="basis-auto sm:basis-58">
					<b>{{ item.label }}</b>
				</span>
				<span class="flex-1">
					<a
						class="link link-hover link-primary break-all"
						[href]="item.url"
						target="_blank"
					>
						{{ item.url }}
					</a>
				</span>
			</div>
		}
	</div>
	<!-- Misc -->

	<h1 class="text-primary p-3 text-xl sm:text-3xl">Misc:</h1>
	<ul class="marker:text-green ml-6 list-outside list-disc">
		<li>
			To view
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://redis.io/cloud/"
				>Redis Cloud</a
			>
			DB Data, install
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://redis.io/insight/"
				>Redis Insight</a
			>
		</li>
		<li>
			To view
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://ngrx.io/guide/store#diagram"
				>NgRx store</a
			>
			in your browser, install
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://github.com/reduxjs/redux-devtools/?tab=readme-ov-file#redux-devtools"
				>redux-devtools</a
			>
			extension.
		</li>
		<li>
			To set backend environment variables, check
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://github.com/wasit-shafi/dev-tools-studio-backend/blob/dev/src/config/environment/.env.example"
				>.env.example</a
			>
			file.
		</li>
		<li>
			To view all the libraries used for Backend project, check
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://github.com/wasit-shafi/dev-tools-studio-backend/blob/dev/package.json"
				>package.json</a
			>
			file.
		</li>
		<li>
			To view all the libraries used for Frontend project, check
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://github.com/wasit-shafi/dev-tools-studio-frontend/blob/dev/package.json"
				>package.json</a
			>
			file.
		</li>
		<li>
			Other Tools/Libraries used are
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://www.brevo.com"
				>Brevo</a
			>,
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://www.geoapify.com"
				>Geoapify</a
			>,
			<a
				target="_blank"
				class="links link-hover link-primary"
				href="https://www.docker.com"
				>Docker</a
			>,
			<a
				target="_blank"
				class="link link-hover link-primary"
				href="https://github.com/features/actions"
				>GitHub Actions</a
			>.
		</li>
	</ul>
</div>
