<div class="bg-cyan-100 p-3">
	<h1 class="mb-5 text-center text-5xl text-neutral-700">Welcome on Dev Tools Studio!!</h1>
	<div class="text-bg-slate-300 text-sm">
		<p class="">
			Now Cold Emailing is just only click away, no overhead of re-typing the whole email or copy-pasting the same email
			you used more than 100K times since last 100 Years :)jk !!
		</p>

		<p class="">
			Create customizable email templates, attachments and send to others real-time or schedule it for later from your
			different accounts.
		</p>
		<!-- Get Started  -->

		<ul class="list rounded-box mt-5 bg-cyan-200 shadow-md">
			<li class="p-4 pb-2 text-xs tracking-wide opacity-60">Get Started in few steps:</li>

			<li class="list-row">
				<div class="text-4xl font-thin tabular-nums opacity-30">01</div>

				<div class="list-col-grow">
					<div>Sign Up</div>
					<div class="text-xs font-semibold uppercase opacity-60">Signup on Dev Tools Studio</div>
				</div>
			</li>

			<li class="list-row">
				<div class="text-4xl font-thin tabular-nums opacity-30">02</div>
				<div class="list-col-grow">
					<div>Add Email Templates</div>
					<div class="text-xs font-semibold uppercase opacity-60">Add email template as per your day to day usage</div>
				</div>
			</li>

			<li class="list-row">
				<div class="text-4xl font-thin tabular-nums opacity-30">03</div>

				<div class="list-col-grow">
					<div>Add Credentials</div>
					<div class="text-xs font-semibold uppercase opacity-60">
						Add credentials to start sending emails from your different accounts
					</div>
				</div>
			</li>

			<li class="list-row">
				<div class="text-4xl font-thin tabular-nums opacity-30">04</div>

				<div class="list-col-grow">
					<div>Add Attachments (Optional)</div>
					<div class="text-xs font-semibold uppercase opacity-60">Add attachments to save it on cloud!!</div>
				</div>
			</li>

			<li class="list-row">
				<div class="text-4xl font-thin tabular-nums opacity-30">05</div>

				<div class="list-col-grow">
					<div>Send Email !!</div>
					<div class="text-xs font-semibold uppercase opacity-60">
						Choose email template, email account credentials, attachments and timestamp. That's it !!
					</div>
				</div>
			</li>
		</ul>
		<!-- Details -->

		<h1 class="p-3 text-3xl text-neutral-700">For More Info Refer:</h1>

		<div class="flex flex-col gap-y-2 pl-6">
			<!-- Backend Link -->
			<p>
				<b>Deployment Link (Backend): </b>
				<a
					class="link link-hover link-primary"
					[href]="environment.baseUrl"
					target="_blank"
				>
					{{ environment.baseUrl }}
				</a>
			</p>
			<!-- Frontend -->

			<p>
				<b>Deployment Link (Frontend): </b>
				<a
					class="link link-hover link-primary"
					href="http://3.110.46.93:4200"
					target="_blank"
				>
					http://3.110.46.93:420s0
				</a>
			</p>
			<!-- Architecture Diagram -->

			<p>
				<b>Architecture Diagram: </b>
				<a
					class="link link-hover link-primary"
					href="https://app.eraser.io/workspace/cwZzopjoFs0wIiPvRI8X"
					target="_blank"
				>
					https://app.eraser.io/workspace/cwZzopjoFs0wIiPvRI8X
				</a>
			</p>
			<!-- Postman Collection -->

			<p>
				<b>Postman Collection: </b>
				<a
					class="link link-hover link-primary"
					href="https://www.postman.com/wasitshafi/dev-tools-studio-public-wrokspace/overview"
					target="_blank"
				>
					https://www.postman.com/wasitshafi/dev-tools-studio-public-wrokspace/overview
				</a>
			</p>
			<!-- Backend Source Code -->

			<p>
				<b>Backend Source Code: </b>
				<a
					class="link link-hover link-primary"
					href="https://github.com/wasit-shafi/dev-tools-studio-backend"
					target="_blank"
				>
					https://github.com/wasit-shafi/dev-tools-studio-backend
				</a>
			</p>
			<!-- Frontend Source Code -->

			<p>
				<b>Frontend Source Code: </b>
				<a
					class="link link-hover link-primary"
					href="https://github.com/wasit-shafi/dev-tools-studio-frontend"
					target="_blank"
				>
					https://github.com/wasit-shafi/dev-tools-studio-frontend
				</a>
			</p>
			<!-- GitHub Project Board -->

			<p>
				<b>Github Project Board: </b>
				<a
					class="link link-hover link-primary"
					href="https://github.com/users/wasit-shafi/projects/5/views/1"
					target="_blank"
				>
					https://github.com/users/wasit-shafi/projects/5/views/1
				</a>
			</p>
		</div>
	</div>
</div>
