<div class="bg-slate-100 p-3">
	<h1 class="text-primary mb-5 text-center text-5xl">Welcome on Dev Tools Studio!!</h1>
	<!-- Intro -->

	<div class="text-sm">
		<p class="">
			Now Cold Emailing is just only click away, no overhead of re-typing the whole email or copy-pasting previously
			used emails.<br />
			Create customizable email templates, attachments, send emails to others real-time or schedule it for later & send
			it from your different accounts by adding your <b>SMTP/OAuth</b> Credentials.
		</p>
	</div>
	<!-- Get Started  -->

	<ul class="list rounded-box mt-5 bg-slate-200 shadow-md">
		<li class="text-primary p-4 pb-2 text-3xl tracking-wide">Get Started in few steps:</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">01</div>
			<div class="list-col-grow">
				<div class="text-secondary">Sign Up</div>
				<div class="text-xs font-semibold uppercase opacity-60">Signup on Dev Tools Studio</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">02</div>
			<div class="list-col-grow">
				<div class="text-secondary">Add Credentials <b>(SMTP/OAuth)</b></div>
				<div class="text-xs font-semibold uppercase opacity-60">
					Add credentials to start sending emails from your different accounts
				</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">03</div>
			<div class="list-col-grow">
				<div class="text-secondary">Add Email Templates</div>
				<div class="text-xs font-semibold uppercase opacity-60">Add email template as per your day to day usage</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">04</div>
			<div class="list-col-grow">
				<div class="text-secondary">Add Attachments (Optional)</div>
				<div class="text-xs font-semibold uppercase opacity-60">
					Add attachments to save it on cloud (AWS S3 Bucket)!!
				</div>
			</div>
		</li>

		<li class="list-row">
			<div class="text-4xl font-thin tabular-nums opacity-30">05</div>

			<div class="list-col-grow">
				<div class="text-secondary">Send Email !!</div>
				<div class="text-xs font-semibold uppercase opacity-60">
					Choose email template, email account credentials, attachments and timestamp, That's it !!
				</div>
			</div>
		</li>
	</ul>
	<!-- Galleria -->

	<div class="card mt-5 flex items-center">
		<p-galleria
			[value]="images"
			[showItemNavigators]="true"
			[responsiveOptions]="responsiveOptions"
			[circular]="true"
			[numVisible]="16"
			[containerStyle]="{ 'max-width': '1000px' }"
			[autoPlay]="true"
			[showItemNavigatorsOnHover]="true"
		>
			<ng-template
				#item
				let-item
			>
				<!-- NOTE(Wasit): Keep containerStyle attribute's max-width property in sync with image width. Image width can't be greater then max width of container p-galleria -->

				@if (item?.itemLink) {
					<a
						[href]="item.itemLink"
						target="_blank"
						[title]="'Visit Link: ' + item.itemLink"
					>
						<img
							alt="project snapshots"
							class="block h-[800px] w-[1000px] bg-slate-100"
							[src]="item.imageSrc"
						/>
					</a>
				} @else {
					<img
						alt="project snapshots"
						class="block h-[800px] w-[1000px] bg-slate-100"
						[src]="item.imageSrc"
					/>
				}
			</ng-template>
			<ng-template
				#thumbnail
				let-item
			>
				<img
					[src]="item.imageSrc"
					class="border-primary block size-10 rounded-md border border-3"
					alt="thumbnail"
				/>
			</ng-template>
		</p-galleria>
	</div>
	<!-- Details -->

	<h1 class="text-primary p-3 text-3xl">For More Info Refer:</h1>

	<div class="flex flex-col gap-y-2 pl-6">
		<!-- Backend Link -->
		<p>
			<b>Deployment Link (Backend): </b>
			<a
				class="link link-hover link-primary"
				[href]="environment.baseUrl"
				target="_blank"
			>
				{{ environment.baseUrl }}
			</a>
		</p>
		<!-- Frontend -->

		<p>
			<b>Deployment Link (Frontend): </b>
			<a
				class="link link-hover link-primary"
				href="http://3.110.46.93:4200"
				target="_blank"
			>
				http://3.110.46.93:4200
			</a>
		</p>
		<!-- Architecture Diagram -->

		<p>
			<b>Architecture Diagram: </b>
			<a
				class="link link-hover link-primary"
				href="https://app.eraser.io/workspace/cwZzopjoFs0wIiPvRI8X"
				target="_blank"
			>
				https://app.eraser.io/workspace/cwZzopjoFs0wIiPvRI8X
			</a>
		</p>
		<!-- Postman Collection -->

		<p>
			<b>Postman Collection: </b>
			<a
				class="link link-hover link-primary"
				href="https://www.postman.com/wasitshafi/dev-tools-studio-public-wrokspace/overview"
				target="_blank"
			>
				https://www.postman.com/wasitshafi/dev-tools-studio-public-wrokspace/overview
			</a>
		</p>
		<!-- Backend Source Code -->

		<p>
			<b>Backend Source Code: </b>
			<a
				class="link link-hover link-primary"
				href="https://github.com/wasit-shafi/dev-tools-studio-backend"
				target="_blank"
			>
				https://github.com/wasit-shafi/dev-tools-studio-backend
			</a>
		</p>
		<!-- Frontend Source Code -->

		<p>
			<b>Frontend Source Code: </b>
			<a
				class="link link-hover link-primary"
				href="https://github.com/wasit-shafi/dev-tools-studio-frontend"
				target="_blank"
			>
				https://github.com/wasit-shafi/dev-tools-studio-frontend
			</a>
		</p>
		<!-- GitHub Project Board -->

		<p>
			<b>Github Project Board: </b>
			<a
				class="link link-hover link-primary"
				href="https://github.com/users/wasit-shafi/projects/5/views/1"
				target="_blank"
			>
				https://github.com/users/wasit-shafi/projects/5/views/1
			</a>
		</p>
		<!-- Backend Image -->

		<p>
			<b>Backend Image: </b>
			<a
				class="link link-hover link-primary"
				href="https://hub.docker.com/repository/docker/wasitshafi700/dev-tools-studio-backend"
				target="_blank"
			>
				https://hub.docker.com/repository/docker/wasitshafi700/dev-tools-studio-backend
			</a>
		</p>
		<!-- Frontend Image -->

		<p>
			<b>Frontend Image: </b>
			<a
				class="link link-hover link-primary"
				href="https://hub.docker.com/repository/docker/wasitshafi700/dev-tools-studio-frontend"
				target="_blank"
			>
				https://hub.docker.com/repository/docker/wasitshafi700/dev-tools-studio-frontend
			</a>
		</p>
	</div>
	<!-- Misc -->

	<h1 class="text-primary p-3 text-3xl">Misc:</h1>
	<ul class="marker:text-green ml-6 list-outside list-disc">
		<li>
			To view
			<a
				target="_blank"
				class="link link-primary"
				href="https://redis.io/cloud/"
				>Redis Cloud</a
			>
			DB Data, install
			<a
				target="_blank"
				class="link link-primary"
				href="https://redis.io/insight/"
				>Redis Insight</a
			>
		</li>
		<li>
			To view
			<a
				target="_blank"
				class="link link-primary"
				href="https://ngrx.io/guide/store#diagram"
				>NgRx store</a
			>
			in your browser, install
			<a
				target="_blank"
				class="link link-primary"
				href="https://github.com/reduxjs/redux-devtools/?tab=readme-ov-file#redux-devtools"
				>redux-devtools</a
			>
			extension.
		</li>
	</ul>
</div>
