@use 'tailwindcss';
@plugin "daisyui" {
	themes:
		light --default,
		light --prefersdark; // set light theme even if the browser UI appearance is set to dark mode theme
}

@theme {
	--breakpoint-3xs: 300px;
	--breakpoint-2xs: 413px;
	--breakpoint-xs: 526px;
	--color-black: rgb(00, 00, 00);
	--color-white: rgb(255, 255, 255);
	--color-persianGreen: rgb(9, 166, 149);
	--color-sunnyYellow: rgb(230, 255, 22);
	--color-softPeach: rgb(238, 283, 283);
	--color-caribbeanGreen: rgb(26, 209, 165); // color referred from daisyui logo
	--color-orangePeel: rgb(255, 153, 3); // color referred from daisyui logo
}

label:has(.ng-valid:not(textarea, input[type='checkbox'])),
textarea.ng-valid,
select.ng-valid {
	border-left: 6px solid #42a948 !important;
}

label:has(.ng-invalid:not(textarea, input[type='checkbox'])),
textarea.ng-invalid,
select.ng-invalid {
	border-left: 6px solid #a94442 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}
