@tailwind base;
@tailwind components;
@tailwind utilities;

//TODO: review why aura/primeng theme is not correctly applied

// @layer tailwind-base, primeng, tailwind-utilities;

// @layer tailwind-base {
// 	@tailwind base;
// }

// @layer tailwind-utilities {
// 	@tailwind components;
// 	@tailwind utilities;
// }

label:has(.ng-valid:not(textarea, input[type='checkbox'])),
textarea.ng-valid,
select.ng-valid {
	border-left: 6px solid #42a948 !important;
}

label:has(.ng-invalid:not(textarea, input[type='checkbox'])),
textarea.ng-invalid,
select.ng-invalid {
	border-left: 6px solid #a94442 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}
