<div class="w-[800px] overflow-x-auto border">
	<table class="table">
		<thead>
			<tr class="bg-slate-600 text-white">
				<th></th>
				<th>User Name</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Display Name</th>
				<th>E-Mail</th>
				<th>Password</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody>
			@for (item of users; track $index; let index = $index) {
				<tr class="odd:bg-neutral-300 even:bg-[whitesmoke]">
					<td>{{ index + 1 }}</td>
					<td>{{ item.userName }}</td>
					<td>{{ item.firstName }}</td>
					<td>{{ item.lastName }}</td>
					<td>{{ item.displayName }}</td>
					<td>{{ item.email }}</td>
					<td>{{ item.password }}</td>
					<td>{{ item.country }}</td>
				</tr>
			}
		</tbody>
	</table>
</div>
