<form
	#signinForm="ngForm"
	autocomplete="off"
	(submit)="handleOnSubmitSigninForm($event, signinForm)"
	class="mx-auto mt-[30px] flex max-w-[400px] flex-col justify-center gap-4"
>
	<!-- Email -->

	<label
		for="email"
		class="input input-bordered flex items-center gap-2"
	>
		Email
		<input
			#email="ngModel"
			[(ngModel)]="signinFormModel.email"
			autocomplete="off"
			class="grow"
			id="email"
			name="email"
			pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
			placeholder="UserName@DomainName.extension"
			required
			type="email"
		/>
	</label>
	<div
		class="text-red-600"
		[hidden]="email.valid || email.pristine"
	>
		Email is not valid
	</div>
	<!-- Password -->

	<label
		for="password"
		class="input input-bordered flex items-center gap-2"
	>
		Password
		<input
			#password="ngModel"
			[(ngModel)]="signinFormModel.password"
			autocomplete="off"
			class="grow"
			id="password"
			minlength="4"
			name="password"
			placeholder="Shush...TypeYourSecretPassword"
			required
			type="password"
		/>
	</label>
	<!-- Remember me & Forgot Password -->

	<div class="flex items-center justify-between">
		<a
			class="link-hover link link-neutral"
			[routerLink]="['/reset-password']"
		>
			Forgot Password..?
		</a>
		<label class="label cursor-pointer gap-x-4 p-0">
			<input
				type="checkbox"
				checked="checked"
				class="checkbox-success checkbox"
			/>
			<span class="label-text">Remember me</span>
		</label>
	</div>

	<!--
		<div [hidden]="password.valid || password.pristine">
			<span class="text-red-600">Password is not valid</span>
		</div>
	-->

	@if (password.invalid && (password.dirty || password.touched)) {
		<div>
			@if (password.hasError('required')) {
				<div class="text-red-600">Password is required.</div>
			}
			@if (password.hasError('minlength')) {
				<div class="text-red-600">Password must be at least 4 characters long.</div>
			}
		</div>
	}
	<div class="flex justify-center border">
		<re-captcha
			#reCaptcha
			(errored)="handleReCaptchaErrored($event)"
			(resolved)="handleReCaptchaResolved($event)"
			[(ngModel)]="signinFormModel.reCaptchaResponse"
			[siteKey]="environment.reCaptchaSiteKey"
			errorMode="handled"
			name="reCaptchaResponse"
			required
		>
		</re-captcha>
	</div>
	<!-- Reset/Submit Buttons -->

	<div class="flex gap-4">
		@if (environment.development) {
			<button
				type="reset"
				[ngClass]="{ 'max-w-[120px]': environment.production }"
				class="btn flex-1"
			>
				Reset
			</button>
		}
		<button
			type="submit"
			class="btn btn-success flex-1"
			[disabled]="!signinForm.form.valid"
		>
			Login
		</button>
	</div>
</form>
